*{
  box-sizing: border-box;
}
#nav{
  background-color: #ff6600;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#content{
  position: relative;
  padding: 15px;
}

#content > .container > div {
  padding: 78px 0;
  border: 1px;
}

.container{
}

#about, #my-work, #contact-me{
}

#my-avatar{
  float: left;
  height: 280px;
}

[src="img/cat.JPG"] {
  height: 280px;
}

.menu li{
  width: 150px;
  padding: 10px 0px;

  border: 1px solid #fff;
  border-radius: 8px;

  list-style-type: none;
  text-align: center;
  background-color: #ff6600;
  color: #fff;
  display: inline-block;
}

a{
  display: block;
  color: #fff;
  text-decoration: none;
}

li:hover{
  border: 1px solid #ff6600;
  background-color: #fff;
}

li:hover a{
  color: #ff6600;
  font-weight: 800;
}

.item{
  position: relative;
  max-width: 30%;
  display: inline-block;
  margin-bottom: 10px;
}

.item-info{
  background-color: rgba(255,255,255,.8);

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  text-align: center;
  padding: 25px 10px;

  display: none;
}

.item-info:hover{
}
.item:hover .item-info{
  display: block;
}

.item img{
  width: 100%;
}

#contact-me{
}

form.contact-form{
  width: 50%;
  margin: 0 auto; 
}

.form-row {
  margin-bottom: 15px;
}


.form-row input, .form-row textarea {
  border-radius: 3px;
  width: 100%;
  padding: 7px;
}

.form-row textarea {
  resize: none;
  height: 4em;
}

.form-row button {
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
}

.form-row button[type="submit"] {
  background-color: #5995DA;
  color: #FFFFFF;
}

.form-row button:hover {
  background-color: #76AEED;
}

.form-row button:active {
  background-color: #407FC7;
}

.container {
  width: 800px;
  margin: 0 auto;
}

hr.bar {
  border: 2px solid #ff6600;
  width: 80px;
}

.menu {
  float: right;
}

h1 {
  text-align: center;
}

#about h1 {
  margin-bottom: 0;
  text-align: left;
}

#my-work-gallery {
    text-align: center;
}